@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');
#nav-menu {
  color: rgb(175, 61, 86);
}

.bg-navy {
	background-color: #252E71;
}

.bg-button-blue {
	background-color: #3154DF;
}

.bg-landing {
	/* The image used */
  background-image: url("../img/bg.jpg");

  /* Full height */
  height: 595px;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-navy {
	color: #252E71;
	font-family: Montserrat;
}

.montserrat {
	font-family: Montserrat;
	font-weight: 100;
}

